
script {
  display: none;
}

body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 275px;
  bottom: 0;
  background-color: rgb(250, 250, 250);
  padding: 1%;
  overflow: auto;
  font-size: 14px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  padding: 10px;
}

nav li .index {
  font-weight: bold;
}

nav li[data-depth="2"] {
  margin-left: 20px;
}

nav li[data-depth="3"] {
  margin-left: 40px;
}

nav a {
  text-decoration: none;
  color: black;
}

nav a:hover {
  cursor: pointer;
}

/* Hide the first title in the summary */
nav ul li:first-child {
  display: none;
}

nav a:hover, nav a.active {
  color: rgb(0, 140, 255);
}

article {
  position: absolute;
  top: 0;
  left: 300px;
  right: 0;
  bottom: 0;
  padding-left: 15%;
  padding-right: 15%;
  line-height: 22px;
  color: rgb(51, 51, 51);
}

section {
  padding-bottom: 20px;
}
