/* One Light Syntax theme for Atom */

pre .line.cursor-line {
  background-color: rgba(56,58,66,.05);
}

pre .cursor {
  border-left: 2px solid #526fff;
}

pre .selection .region {
  background-color: #e5e5e6;
}

pre .bracket-matcher .region {
  border-bottom: 1px solid #526fff;
  box-sizing: border-box;
}

pre .indent-guide,pre .invisible-character {
  color: rgba(56,58,66,.2);
}

pre .wrap-guide {
  background-color: rgba(56,58,66,.2);
}

pre .current-result .region.region.region,pre .find-result .region.region.region {
  border-radius: 2px;
  background-color: rgba(82,111,255,.2);
  transition: border-color .4s;
}

pre .find-result .region.region.region {
  border: 2px solid transparent;
}

pre .current-result .region.region.region {
  border: 2px solid #526fff;
  transition-duration: .1s;
}

pre .gutter .line-number {
  color: #9d9d9f;
  -webkit-font-smoothing: antialiased;
}

pre .fold-marker:after,pre .gutter .line-number .icon-right,pre .gutter .line-number.folded,pre .gutter .line-number:after {
  color: #383a42;
}

pre .gutter .line-number.cursor-line {
  color: #383a42;
  background-color: #e5e5e6;
}

pre .gutter .line-number.cursor-line-no-selection {
  background-color: transparent;
}

pre .gutter:not(.git-diff-icon) .line-number.git-line-removed.git-line-removed::before {
  bottom: -3px;
}

pre .gutter:not(.git-diff-icon) .line-number.git-line-removed::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 25px;
  border-bottom: 1px dotted rgba(255,20,20,.5);
  pointer-events: none;
}

pre .comment,pre .comment .markup.link {
  color: #a0a1a7;
}

pre .comment {
  font-style: italic;
}

pre .entity.name.type {
  color: #c18401;
}

pre .entity.other.inherited-class {
  color: #50a14f;
}

pre .keyword,pre .keyword.control {
  color: #a626a4;
}

pre .keyword.operator {
  color: #383a42;
}

pre .keyword.other.special-method {
  color: #4078f2;
}

pre .keyword.other.unit {
  color: #986801;
}

pre .storage,pre .storage.type.annotation,pre .storage.type.primitive {
  color: #a626a4;
}

pre .storage.modifier.import,pre .storage.modifier.package {
  color: #383a42;
}

pre .constant,pre .constant.variable {
  color: #986801;
}

pre .constant.character.escape {
  color: #0184bc;
}

pre .constant.numeric {
  color: #986801;
}

pre .constant.other.color,pre .constant.other.symbol {
  color: #0184bc;
}

pre .variable {
  color: #e45649;
}

pre .variable.interpolation {
  color: #ca1243;
}

pre .variable.parameter {
  color: #383a42;
}

pre .string {
  color: #50a14f;
}

pre .string.regexp {
  color: #0184bc;
}

pre .string.regexp .source.ruby.embedded {
  color: #c18401;
}

pre .string.other.link {
  color: #e45649;
}

pre .punctuation.definition.comment {
  color: #a0a1a7;
}

pre .punctuation.definition.array,pre .punctuation.definition.function-parameters,pre .punctuation.definition.method-parameters,pre .punctuation.definition.parameters,pre .punctuation.definition.separator,pre .punctuation.definition.seperator {
  color: #383a42;
}

pre .punctuation.definition.heading,pre .punctuation.definition.identity {
  color: #4078f2;
}

pre .punctuation.definition.bold {
  color: #c18401;
  font-weight: 700;
}

pre .punctuation.definition.italic {
  color: #a626a4;
  font-style: italic;
}

pre .punctuation.section.embedded {
  color: #ca1243;
}

pre .punctuation.section.class,pre .punctuation.section.inner-class,pre .punctuation.section.method {
  color: #383a42;
}

pre .support.class {
  color: #c18401;
}

pre .support.function,pre .support.type {
  color: #0184bc;
}

pre .entity.name.function,pre .support.function.any-method {
  color: #4078f2;
}

pre .entity.name.class,pre .entity.name.type.class {
  color: #c18401;
}

pre .entity.name.section {
  color: #4078f2;
}

pre .entity.name.tag {
  color: #e45649;
}

pre .entity.other.attribute-name {
  color: #986801;
}

pre .entity.other.attribute-name.id {
  color: #4078f2;
}

pre .meta.class {
  color: #c18401;
}

pre .meta.class.body,pre .meta.method,pre .meta.method-call {
  color: #383a42;
}

pre .meta.definition.variable {
  color: #e45649;
}

pre .meta.link {
  color: #986801;
}

pre .meta.require {
  color: #4078f2;
}

pre .meta.selector {
  color: #a626a4;
}

pre .meta.separator,pre .meta.tag,pre .none {
  color: #383a42;
}

pre .underline {
  text-decoration: underline;
}

pre .invalid.deprecated {
  color: #000!important;
  background-color: #f2a60d!important;
}

pre .invalid.illegal {
  color: #fff!important;
  background-color: #ff1414!important;
}

pre .markup.bold {
  color: #986801;
  font-weight: 700;
}

pre .markup.changed {
  color: #a626a4;
}

pre .markup.deleted {
  color: #e45649;
}

pre .markup.italic {
  color: #a626a4;
  font-style: italic;
}

pre .markup.heading {
  color: #e45649;
}

pre .markup.heading .punctuation.definition.heading {
  color: #4078f2;
}

pre .markup.link {
  color: #0184bc;
}

pre .markup.inserted {
  color: #50a14f;
}

pre .markup.quote {
  color: #986801;
}

pre .markup.raw {
  color: #50a14f;
}

pre .source.c .keyword.operator,pre .source.cpp .keyword.operator,pre .source.cs .keyword.operator {
  color: #a626a4;
}

pre .source.css .property-name,pre .source.css .property-value {
  color: #696c77;
}

pre .source.css .property-name.support,pre .source.css .property-value.support,pre .source.elixir .source.embedded.source {
  color: #383a42;
}

pre .source.elixir .constant.definition,pre .source.elixir .constant.language,pre .source.elixir .constant.numeric {
  color: #4078f2;
}

pre .source.elixir .variable.anonymous,pre .source.elixir .variable.definition {
  color: #a626a4;
}

pre .source.elixir .parameter.variable.function {
  color: #986801;
  font-style: italic;
}

pre .source.elixir .quoted {
  color: #50a14f;
}

pre .source.elixir .embedded.section,pre .source.elixir .embedded.source.empty,pre .source.elixir .keyword.special-method,pre .source.elixir .readwrite.module .punctuation {
  color: #e45649;
}

pre .source.elixir .regexp.section,pre .source.elixir .regexp.string {
  color: #ca1243;
}

pre .source.elixir .keyword.operator,pre .source.elixir .separator {
  color: #986801;
}

pre .source.elixir .variable.constant {
  color: #c18401;
}

pre .source.elixir .array,pre .source.elixir .scope,pre .source.elixir .section {
  color: #696c77;
}

pre .source.gfm .markup {
  -webkit-font-smoothing: auto;
}

pre .source.gfm .link .entity {
  color: #4078f2;
}

pre .source.go .storage.type.string {
  color: #a626a4;
}

pre .source.ini .keyword.other.definition.ini {
  color: #e45649;
}

pre .source.java .storage.modifier.import,pre .source.java .storage.type {
  color: #c18401;
}

pre .source.java .keyword.operator.instanceof {
  color: #a626a4;
}

pre .source.java-properties .meta.key-pair {
  color: #e45649;
}

pre .source.java-properties .meta.key-pair>.punctuation {
  color: #383a42;
}

pre .source.js .keyword.operator {
  color: #0184bc;
}

pre .source.js .keyword.operator.delete,pre .source.js .keyword.operator.in,pre .source.js .keyword.operator.instanceof,pre .source.js .keyword.operator.new,pre .source.js .keyword.operator.of,pre .source.js .keyword.operator.typeof,pre .source.js .keyword.operator.void {
  color: #a626a4;
}

pre .source.json .meta.structure.dictionary.json>.string.quoted.json,pre .source.json .meta.structure.dictionary.json>.string.quoted.json>.punctuation.string {
  color: #e45649;
}

pre .source.json .meta.structure.array.json>.value.json>.string.quoted.json,pre .source.json .meta.structure.array.json>.value.json>.string.quoted.json>.punctuation,pre .source.json .meta.structure.dictionary.json>.value.json>.string.quoted.json,pre .source.json .meta.structure.dictionary.json>.value.json>.string.quoted.json>.punctuation {
  color: #50a14f;
}

pre .source.json .meta.structure.array.json>.constant.language.json,pre .source.json .meta.structure.dictionary.json>.constant.language.json {
  color: #0184bc;
}

pre .source.ruby .constant.other.symbol>.punctuation {
  color: inherit;
}

pre .source.php .class.bracket {
  color: #383a42;
}

pre .source.python .keyword.operator.logical.python {
  color: #a626a4;
}

pre .source.python .variable.parameter {
  color: #986801;
}
