
script {
  display: none;
}

.hidden {
  display: none;
}

body {
  position: relative;
  font-family: Lato, "Helvetica Neue", Helvetica, "Open Sans", Arial, sans-serif;
  font-size: 16px;
  background-color: white;
  z-index: 0;
  /* Hide the body while JavaScript is preparing the page */
  /* If JavaScript is disabled, a <noscript> tag in the template
      will rewrite this rule thanks to an inline <style>. */
  display: none;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 275px;
  bottom: 0;
  background-color: rgb(250, 250, 250);
  padding: 1%;
  overflow: auto;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  padding: 10px;
}

nav li .index {
  font-weight: bold;
}

nav li[data-depth="2"] {
  margin-left: 20px;
}

nav li[data-depth="3"] {
  margin-left: 40px;
}

nav a {
  text-decoration: none;
  color: black;
}

nav a:hover {
  cursor: pointer;
}

/* Hide the first title in the summary */
nav ul li[data-depth="0"] {
  display: none;
}

nav a:hover, nav a.active {
  color: rgb(0, 140, 255);
}

article {
  position: absolute;
  top: 0;
  left: 300px;
  right: 0;
  bottom: 0;
  padding-left: 15%;
  padding-right: 15%;
  line-height: 25px;
  color: rgb(51, 51, 51);
}

article.full-width {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding-left: 20%;
  padding-right: 20%;
}

section {
  padding-bottom: 20px;
}

section.inactive {
  display: none;
}

h1 {
  display: none;
}

h2 {
  color: rgb(0, 0, 0);
  margin-bottom: 30px;
}

/* Set the font-size for <h2> titles and all its children elements
   (like <code> blocks) */
h2, h2 * {
  font-size: 32px;
}

h3 {
  color: rgb(51, 51, 51);
  margin-top: 30px;
}

h3, h3 * {
  font-size: 22px;
}

h4 {
  color: rgb(51, 51, 51);
  margin-top: 30px;
}

h4, h4 * {
  font-size: 18px;
}

article a {
  text-decoration: none;
  color: #4183c4;
}

article a:hover {
  text-decoration: underline;
}

pre, code {
  font-family: "Fira Mono", monospace, Consolas, 'Courier New', sans-serif;
}

/* Do not set <code>'s font-size outside paragraphs */
pre, p code {
  font-size: 14px;
}

pre {
  padding: 5px;
  /* Prevent overflow */
  word-wrap: break-word;
  white-space: pre-line;
  position: relative;
  line-height: 25px;
  background-color: rgb(245, 245, 245);
}

pre a.copy {
  position: absolute;
  top: 0px;
  right: 5px;
}

pre a.copy:hover {
  cursor: pointer;
  text-decoration: none;
}

pre a.copy:after {
  content: "Copy";
}

pre a.copy.triggered:after {
  content: "Copied!";
}

code {
  background-color: rgb(245, 245, 245);
}

blockquote {
  color: #6a737d;
  border-left: 5px solid #dfe2e5;
  padding: 5px;
  font-style: italic;
  /* Cancel automatic margins set by some browsers */
  margin: 0;
}

blockquote p {
  margin: 10px;
}

table {
  border-collapse: collapse;
}

th, td {
  border-bottom: 1px solid gray;
  padding: 10px;
  text-align: center;
}

#previous, #next {
  padding: 10px;
  color: #ddd;
  text-align: center;
  font-size: 40px;
  user-select: none;
}

#previous.force-left {
  left: 20px;
}

#hide-summary {
  position: fixed;
  top: 10px;
  left: 350px;
  padding: 15px;
  font-size: 20px;
}

#hide-summary.force-left {
  left: 20px;
}

#hide-summary:hover {
  cursor: pointer;
}

/* Stylesheet for desktop devices and large-width mobile devices */
@media screen and (min-width: 641px) {
  #previous, #next {
    position: fixed;
    top: 50%;
  }

  #previous {
    left: 350px;
  }

  #next {
    right: 20px;
  }

  #previous:hover, #next:hover {
    cursor: pointer;
    color: black;
    transition: 1s color;
  }
}

/* Stylesheet for mobile devices */
@media screen and (max-width: 640px) {
  body {
    padding-bottom: 70px;
  }

  nav {
    position: relative;
    width: 100%;
  }

  article {
    position: relative;
    left: 0;
    padding-left: 5%;
    padding-right: 5%;
  }

  #hide-summary {
    display: none;
  }

  #previous {
    position: absolute;
    left: 20px;
    bottom: 20px;
  }

  #next {
    position: absolute;
    right: 20px;
    bottom: 20px;
  }

  pre {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
  }

  /* The 'Copy' button is useless on mobile devices
     and hides some examples' code */
  pre a.copy {
    display: none;
  }
}
